$colors: (
    c1: #3F007A,
    c2:#3C096C,
    c3:#5A189A,
    c4:#7B2CBF,
    c5:#D9BAF2
);
/**********
font-family: 'Bonheur Royale', cursive;  //Quotations
font-family: 'Montserrat', sans-serif;  //Headings
font-family: 'Roboto', sans-serif;      // Normal
font-family: 'Yaldevi', sans-serif;       // special paragraphs
*****************/