$colors: (
  c1: #3f007a,
  c2: #35008b,
  c3: #3c096c,
  c4: #5a189a,
  c5: #7b2cbf,
  c6: #d9baf2,
);
/**********
font-family: 'Bonheur Royale', cursive;  //Quotations
font-family: 'Montserrat', sans-serif;  //Headings
font-family: 'Roboto', sans-serif;      // Normal
font-family: 'Yaldevi', sans-serif;       // special paragraphs
font-family: 'Birthstone', cursive;
font-family: 'Poppins', sans-serif;
*****************/

// <link rel="preconnect" href="https://fonts.googleapis.com">
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// <link href="https://fonts.googleapis.com/css2?family=Birthstone&family=Dancing+Script:wght@400;500&family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Yaldevi:wght@300;400;500;600&display=swap" rel="stylesheet">

/*****************************************
font-family: 'Birthstone', cursive;  // quotations
font-family: 'Dancing Script', cursive;  // quotations
font-family: 'Oswald', sans-serif;   // special paragrap headings
font-family: 'Poppins', sans-serif;  // default
font-family: 'Yaldevi', sans-serif;  // special paragraphs
*******************************************/