$colors: (
    c1: #3F007A,
    c2:#35008B,
    c3:#3C096C,
    c4:#5A189A,
    c5:#7B2CBF,
    c6:#D9BAF2
);
/**********
font-family: 'Bonheur Royale', cursive;  //Quotations
font-family: 'Montserrat', sans-serif;  //Headings
font-family: 'Roboto', sans-serif;      // Normal
font-family: 'Yaldevi', sans-serif;       // special paragraphs
font-family: 'Birthstone', cursive;
font-family: 'Poppins', sans-serif;
*****************/