$colors: (
  pr: #3f007a,
  bg: #eee,
  nv: #ddd,
);
@function color($colorName) {
  @return map-get($map: $colors, $key: $colorName);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  // background-color:rgba(129, 24, 214, 0.247);
  // background-color: color(bg);
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #fff;
  // background-color: #3F007A;
  background-color: #35008b;
}
/* NAvigation menu */
.navbar {
  position: sticky;
  top: 0;
  z-index: 5;
  height: 10vh;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgba(color(pr), 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo-section {
      flex: 0.3;
      img {
        width: 350px;
      }
    }
    #nav-list {
      flex: 0.4;
      display: flex;
      align-items: center;
      list-style-type: none;
      justify-content: space-evenly;
      .for-small {
        display: none;
      }
      li {
        a {
          text-decoration: none;
          color: #555;
        }
        a:hover {
          color: color(pr);
        }
        .profile {
          // cursor: pointer;
          display: flex;
          align-items: center;
          p {
            display: none;
          }
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
.user-details {
  width: 80%;
  height: 40vh;
  margin: 2rem auto;
  background-color: #fff;
  box-shadow: 0.5px 0.5px 5px 0.1px rgba(color(pr), 0.5);
  display: flex;
  justify-content: space-between;
  .user-image {
    flex: 0.3;
    // left: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .user-desctiption {
    flex: 0.6;
    // background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    span {
      font-weight: 500;
    }
    .buttons {
      a {
        text-decoration: none;
        color: #fff;
        background-color: color(pr);
        padding: 0.4rem 2rem;
      }
    }
  }
}

.u-det {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    width: 35%;
    height: 30vh;
    box-shadow: 0.5px 0.5px 5px 0.1px rgba(color(pr), 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .head {
      font-size: 2.5rem;
      font-weight: 600;
      color: #111;
    }
    .body {
      font-size: 1rem;
      color: #666;
    }
  }
}

.articles-section {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  .section-heading {
    margin-bottom: 1rem;
  }
  .section-body {
    display: flex;
    justify-content: space-between;
    .article-cards-section {
      flex: 0.65;
      .article-card {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        .article-content {
          flex: 0.6;
          display: flex;
          flex-direction: column;
          padding-left: 1rem;
          // align-items: center;
          justify-content: space-evenly;
          .article-name {
            color: #111;
          }
          .article-desctiption {
            color: rgba(0, 0, 0, 0.7);
            p {
              line-height: 1.5;
              font-size: 16px;
              a {
                // text-decoration: none;
                color: color(pr);
              }
            }
          }
          .article-publisher {
            font-size: 14px;
          }
          .published-date {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
          }
        }
        .article-image {
          flex: 0.25;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .quotes-section {
      position: relative;
      flex: 0.3;
      // background-color: color(pr);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      color: #eee;
      .for-bg {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        padding: 0;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.8)
          ),
          url("../../assets/img/quote.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      div {
        font-family: "Dancing Script", cursive;
        color: #fff;
        padding: 2rem;
        p {
          font-size: 24px;
          // font-weight:bold;
          // color: color(pr);
        }
        cite {
          font-weight: bold;
        }
      }
    }
  }
}

footer {
  // background-color: #3f007a;
  background-color: #ddd;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: color(pr);
}

@import "./preloader";

@media screen and (max-width: 1250px) {
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    min-height: 5vh;
    // background-color: color(pr);
    background-color: #fff;
    border-bottom: 1px solid rgba(color(pr), 0.2);
    width: 100%;
    nav {
      z-index: 0;
      padding: 1rem;
      min-height: 5vh;
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .logo-section {
        img {
          width: 300px;
        }
      }
      #hamburger {
        width: 40px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        .bar1,
        .bar2,
        .bar3 {
          width: 100%;
          height: 2px;
          // background-color: #fff;
          background-color: color(pr);
          transition: all 0.3s;
        }
        .bar1-change {
          // background-color: #fff;
          transform: translateY(10px) rotateZ(45deg);
        }
        .bar2-change {
          // background-color: #fff;
          opacity: 0;
        }
        .bar3-change {
          // background-color: #fff;
          transform: translateY(-10px) rotateZ(-45deg);
        }
      }
      #nav-list {
        position: absolute;
        z-index: -1;
        width: 50%;
        margin: auto;
        height: 100vh;
        top: 0;
        left: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // background-color: #7b2cbf;
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px rgba(color(pr),0.5);
        transition: all 0.5s;
        .for-small {
          display: block;
        }
        .for-big {
          display: none;
        }
        li {
          list-style-type: none;
          margin-bottom: 1rem;
          text-align: center;
          .profile {
            width: 90%;
            margin: auto;
            // color: #fff;
            color: color(pr);
            margin-bottom: 0.5rem;
            // border-bottom: 1px solid #fff;
            border-bottom: 1px solid color(pr);
            padding-bottom: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .user-name {
              display: block;
              font-size: 18px;
            }
            .user-desig {
              display: block;
              font-size: 14px;
            }
            img {
              width: 200px;
              height: 200px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
          a {
            padding: 0.4rem 1rem;
            text-decoration: none;
            // color: #fff;
            color: color(pr);
          }
          a:hover {
            color: #000;
          }
        }
      }
      .nav-list-change {
        opacity: 1 !important;
        left: 0 !important;
      }
    }
  }

  .articles-section {
    .section-body {
      .article-cards-section {
        flex: 1;
      }
      .quotes-section {
        display: none;
      }
    }
  }
}
