* {
  // box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  z-index: -10;
  font-family: "Roboto", sans-serif;
  overflow: scroll;
}
p {
  font-family: "Poppins", sans-serif;
  color: #111;
}

/* NAvigation menu */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 5vh;
  // background-color: rgba(0, 0, 0, 0.548);
  width: 100%;
  nav {
    z-index: 0;
    padding: 1rem;
    min-height: 5vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .logo-section {
      img {
        width: 300px;
        // border: 2px solid #fff;
      }
    }
    // background-color: lawngreen;
    #hamburger {
      width: 40px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      .bar1,
      .bar2,
      .bar3 {
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s;
      }
      .bar1-change {
        background-color: #fff;
        transform: translateY(10px) rotateZ(45deg);
      }
      .bar2-change {
        background-color: #fff;
        opacity: 0;
      }
      .bar3-change {
        background-color: #fff;
        transform: translateY(-10px) rotateZ(-45deg);
      }
    }
    #nav-list {
      position: absolute;
      // color: #fff;
      z-index: 1 !important;
      top: 200%;
      left: 20%;
      // display:none;
      opacity: 0;
      transition: all 0.3s ease-in;
      // transition-delay: 0.3s;
      li {
        list-style-type: none;
        margin-bottom: 1rem;
        text-align: center;
        a {
          padding: 0.4rem 1rem;
          text-decoration: none;
          color: #fff;
        }
        a:hover {
          color: #3c096c;
        }
      }
    }
    .nav-list-change {
      opacity: 1 !important;
    }
  }
}

#nav-bg {
  position: fixed;
  z-index: -1;
  top: -50%;
  left: -50%;
  width: 20%;
  height: 20%;
  background-color: #7b2cbf;
  // background-color: #3c096c;
  border-radius: 50%;
  transition: all 0.3s;
}
.nav-bg-change {
  position: absolute;
  width: 120% !important;
  height: 120% !important;
  //   opacity: 1 !important;
}

/** HEADER SECTION **/
header {
  position: relative;
  z-index: -5;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .header-content {
    position: relative;
    width: 50%;
    z-index: 4;
    text-align: center;
    h1 {
      color: #fff;
      font-size: 48px;
      letter-spacing: 2px;
    }
    p {
      color: #fff;
    }
    .buttons {
      position: relative;
      padding: 1rem;
      display: flex;
      justify-content: space-evenly;
      a {
        z-index: 11;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        padding: 0.5rem 2rem;
        background-color: #3c096c;
      }
      a:hover {
        background-color: #460a7e;
      }
    }
  }
  #vbg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .header-overlay {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
  }
}

// ABOUT SECTION
.about-section {
  width: 100%;
  min-height: 40vh;
  background-color: #fff;
  position: relative;
  z-index: -5;
  display: flex;
  width: 80%;
  margin: 2rem auto;
  flex-wrap: wrap;
  .image-section {
    flex: 0.5;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .desctiption-section {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    h1 {
      color: #3c096c;
      font-size: 40px;
      margin-bottom: 1.5rem;
      font-family: "Yaldevi", sans-serif;
    }
    p {
      font-family: "Yaldevi", sans-serif;
      font-size: 18px;
    }
  }
}

.vision-section {
  width: 100%;
  min-height: 40vh;
  background-color: #fff;
  position: relative;
  z-index: -5;
  display: flex;
  width: 80%;
  margin: 2rem auto;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .image-section {
    position: relative;
    z-index: 6;
    flex: 0.3;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .desctiption-section {
    z-index: 6;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    h1 {
      color: #3c096c;
      font-size: 40px;
      margin-bottom: 1.5rem;
      font-family: "Yaldevi", sans-serif;
    }
    p {
      font-family: "Yaldevi", sans-serif;
      font-size: 18px;
    }
  }
}

footer {
  min-height: 20vh;
  background-color: #3c096c;
}

@media screen and(max-width: 1000px) {
  .about-section {
    display: flex;
    flex-direction: column;
    .desctiption-section {
      padding: 1rem;
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 14px;
      }
    }
  }

  .vision-section {
    display: flex;
    flex-direction: column;
    .image-section {
      display: none;
    }
    .desctiption-section {
      padding: 1rem;
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

@media screen and(max-width: 750px) {
  header {
    .header-content {
      position: relative;
      width: 50%;
      z-index: 4;
      text-align: center;
      cursor: pointer;
      h1 {
        color: #fff;
        font-size: 48px;
      }
      p {
        cursor: pointer;
        color: #fff;
      }
      .buttons {
        position: relative;
        z-index: 11;
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        a {
          margin: 0.4rem;
          font-size: 14px;
          cursor: pointer;
          text-decoration: none;
          color: #fff;
          padding: 0.5rem 2rem;
          background-color: #3c096c;
        }
      }
    }
  }
}

@media screen and(max-width: 500px) {
  .navbar {
    nav {
      .logo-section {
        img {
          width: 200px;
        }
      }

      #nav-list {
        position: absolute;
        // color: #fff;
        z-index: 1 !important;
        top: 250%;
        left: 15%;
        // background-color: #fff;
        opacity: 0;
        transition: all 0.3s ease-in;
        // transition-delay: 0.3s;
      }
    }
  }
}

#preloader {
  position: fixed;
  z-index:12;
  width: 100%;
  height: 100vh;
  // background-color: rgba(60,9,108,0.8);
  background-color: rgba(0,0,0, 0.9);
}

#wave1 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  transform: translate(-50%, -50%);
  /* margin: -25px 0 0 -25px; */
  border-radius: 50%;
}

#wave1:before,
#wave1:after {
  content: "";
  /* border: 2px solid #008744; */
  border: 2px solid #ddd;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
}

#wave1:before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
  -webkit-animation: spWaveBe 0.6s infinite linear;
  animation: spWaveBe 0.6s infinite linear;
}

#wave1:after {
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  opacity: 0;
  -webkit-animation: spWaveAf 0.6s infinite linear;
  animation: spWaveAf 0.6s infinite linear;
}

@-webkit-keyframes spWaveAf {
  from {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes spWaveAf {
  from {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
@keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
