
$colors: (
  pr: #3f007a,
  bg: #eee,
  nv: #ddd,
);
@function color($colorName) {
  @return map-get($map: $colors, $key: $colorName);
}

* {
  // box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::selection {
  color: #fff;
  // background-color: #3F007A;
  background-color: #35008b;
}
body {
  // width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: -10;
  font-family: "Roboto", sans-serif;
  overflow: scroll;
}

p {
  font-family: "Poppins", sans-serif;
  // font-family: 'Yaldevi', sans-serif;
  margin-bottom: 1rem;
  color: #222;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 5;
  height: 10vh;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgba(color(pr), 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo-section {
      flex: 0.3;
      img {
        width: 350px;
      }
    }
    #nav-list {
      flex: 0.4;
      display: flex;
      align-items: center;
      list-style-type: none;
      justify-content: space-evenly;
      .for-small {
        display: none;
      }
      li {
        a {
          text-decoration: none;
          color: #555;
        }
        a:hover {
          color: color(pr);
        }
        .profile {
          // cursor: pointer;
          display: flex;
          align-items: center;
          p {
            display: none;
          }
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.shares-section {
  width: 65%;
  margin: auto;
  margin-top: 4rem;
  min-height: 5vh;
  // background-color: #333;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid rgba(53, 0, 139, 0.5);
  a {
    i {
      padding: 0 1rem;
      font-size: 20px;
      color: #000;
    }
  }
  a:hover {
    i {
      color: #35008b;
    }
  }
}

.article-section {
  position: relative;
  z-index: -4;
  min-height: 40vh;
  width: 100%;
  .page {
    background-color: #fff;
    width: 80%;
    margin: 0rem auto 2rem auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    line-height: 1.25;
    .main-heading {
      font-family: "Montserrat", sans-serif;
      font-size: 28px;
    }
    .article-image {
      width: 80%;
      height: 400px;
      margin: 1rem auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .sub-heading {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      width: 80%;
      margin: auto;
    }
    .paragraph {
      text-indent: 50px;
      width: 80%;
      margin: auto;
    }
    .quotation {
      min-height: 50px;
      width: 60%;
      margin: 1.5rem auto;
      border-left: 3px solid #3f007a;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      p {
        color: #000;
        font-size: 32px;
        font-family: "Cookie", cursive;
      }
    }
  }
}

@media screen and(max-width: 500px) {
  .navbar {
    nav {
      .logo-section {
        img {
          width: 200px;
        }
      }
      #nav-list {
        position: absolute;
        // color: #fff;
        z-index: 1 !important;
        top: 250%;
        left: 15%;
        // background-color: #fff;
        opacity: 0;
        transition: all 0.3s ease-in;
        // transition-delay: 0.3s;
      }
    }
  }

  .article-section {
    position: relative;
    z-index: -4;
    min-height: 40vh;
    width: 100%;
    .page {
      background-color: #fff;
      width: 90%;
      margin: 2rem auto;
      padding-top: 3rem;
      padding-bottom: 3rem;
      line-height: 1.25;
      .article-image {
        width: 80%;
        height: 200px;
        margin: 1rem auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .sub-heading {
        width: 80%;
        margin: auto;
      }
      .paragraph {
        text-indent: 50px;
        width: 80%;
        margin: auto;
      }
    }
  }
}

footer {
  // background-color: #3f007a;
  background-color: #ddd;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    color: color(pr);
  }
  
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print,
  #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    background-color: #fff;
    width: 100%;
    padding-top: 0rem;
    line-height: 1.25;
    .main-heading {
      font-family: "Montserrat", sans-serif;
      font-size: 28px;
    }
    .article-image {
      width: 90%;
      height: 400px;
      margin: 1rem auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .sub-heading {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      width: 90%;
      margin: auto;
    }
    .paragraph {
      text-indent: 50px;
      width: 90%;
      margin: auto;
    }
    .quotation {
      min-height: 50px;
      width: 70%;
      margin: 1.5rem auto;
      border-left: 3px solid #3f007a;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      p {
        color: #000;
        font-size: 32px;
        font-family: "Cookie", cursive;
      }
    }
  }
}


@media screen and (max-width: 1250px) {
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    min-height: 5vh;
    // background-color: color(pr);
    background-color: #fff;
    border-bottom: 1px solid rgba(color(pr), 0.2);
    width: 100%;
    nav {
      z-index: 0;
      padding: 1rem;
      min-height: 5vh;
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .logo-section {
        img {
          width: 300px;
        }
      }
      #hamburger {
        width: 40px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        .bar1,
        .bar2,
        .bar3 {
          width: 100%;
          height: 2px;
          // background-color: #fff;
          background-color: color(pr);
          transition: all 0.3s;
        }
        .bar1-change {
          // background-color: #fff;
          transform: translateY(10px) rotateZ(45deg);
        }
        .bar2-change {
          // background-color: #fff;
          opacity: 0;
        }
        .bar3-change {
          // background-color: #fff;
          transform: translateY(-10px) rotateZ(-45deg);
        }
      }
      #nav-list {
        position: absolute;
        z-index: -1;
        width: 50%;
        margin: auto;
        height: 100vh;
        top: 0;
        left: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // background-color: #7b2cbf;
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px rgba(color(pr),0.5);
        transition: all 0.5s;
        .for-small {
          display: block;
        }
        .for-big {
          display: none;
        }
        li {
          list-style-type: none;
          margin-bottom: 1rem;
          text-align: center;
          .profile {
            width: 90%;
            margin: auto;
            // color: #fff;
            color: color(pr);
            margin-bottom: 0.5rem;
            // border-bottom: 1px solid #fff;
            border-bottom: 1px solid color(pr);
            padding-bottom: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .user-name {
              display: block;
              font-size: 18px;
            }
            .user-desig {
              display: block;
              font-size: 14px;
            }
            img {
              width: 200px;
              height: 200px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
          a {
            padding: 0.4rem 1rem;
            text-decoration: none;
            // color: #fff;
            color: color(pr);
          }
          a:hover {
            color: #000;
          }
        }
      }
      .nav-list-change {
        opacity: 1 !important;
        left: 0 !important;
      }
    }
  }

  .articles-section {
    .section-body {
      .article-cards-section {
        flex: 1;
      }
      .quotes-section {
        display: none;
      }
    }
  }
}




@import './preloader';