@media screen and (max-width: 1100px) {
  body {
    nav {
      .nav-1 {
        width: 70%;
        margin: 1rem auto 0;
        display: flex;
        //   justify-content: space-between;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .logo {
          margin-bottom: 2rem;
        }
        .set-2 {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          form {
            display: flex;
            margin-bottom: 0.5rem;
          }
        }
        .buttons {
          list-style-type: none;
        }
      }
    }



    .container {
      min-height: 50vh;
      background-color: #f1f1f1;
    }

    .user-container {
       flex-wrap: wrap;
        .user-pic {
          flex: 0.4;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            display: block;
            width: 200px;
            margin: auto;
            height: auto;
          }
        }
        .user-details {
          flex: 0.6;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          flex-wrap: wrap;
          .heading {
            font-weight: 500;
          }
          .buttons {
            margin-top: 1rem;
            .btn {
              font-size: 16px;
              background-color: color(headerbg);
              color: #fff;
              padding: 0.4rem 1.5rem;
            }
          }
        }
      }


    .article-container {
      display: flex;
      width: 75%;
      margin: 0 auto;
      flex-wrap: wrap;
    }
    .articles {
      // flex: 0.7;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      .heading {
        h2 {
          margin-bottom: 1rem;
          display: inline-block;
          border-bottom: 2px solid #000;
        }
      }
      .article-card {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        height: 150px;
        .article-main {
          padding: 0.5rem;
          flex: 0.7;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .article-heading {
            font-size: 16px;
            h3 {
              font-weight: 600;
            }
          }
        }
        .article-content {
          color: rgb(41, 38, 38);
          font-size: 14px;
        }
        .article-publish-date {
          font-size: 12px;
          color: rgb(41, 38, 38);
        }
        .article-img {
          flex: 0.2;
          height: 150px;
          background-color: grey;
          img {
            height: 100%;
            width: auto;
          }
        }
      }

      .article-card:hover {
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
      }
      .more {
        a {
          color: #fff;
          background-color: #001219;
          text-decoration: none;
          padding: 0.4rem 2rem;
        }
      }
    }

    .most-viewed {
      display: flex;
      flex-direction: column;
      .heading {
        h2 {
          margin-bottom: 1rem;
          display: inline-block;
          border-bottom: 2px solid #000;
        }
      }
      width: 70%;
      margin: 1rem auto;
      .most-cards {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        .most-card {
          width: 250px;
          background-color: orange;
          height: 250px;
          margin: 0.5rem;
        }
      }
      .more {
        a {
          color: #fff;
          background-color: #001219;
          text-decoration: none;
          padding: 0.4rem 2rem;
        }
      }
    }

    
  }
}
