$colors: (
  pr1: #003049,
  pr2: #d62828,
  pr3: #f77f00,
  pr4: #03071e,
  pr5: #001219,
  sec1: #e8e8e4,
  sec2: #d8e2dc,
  sec3: #f8edeb,
  headerbg: #001219,
);

@function color($colorName) {
  @return map-get($colors, $colorName); 
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
//   font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

}

body {
  height: 100vh;
}
::selection{
    color: #fff;
    background-color: color(pr5);
}
section {
  display: flex;
  height: 100vh;
  .d-1 {
    flex: 0.2;
    background-color: color(pr5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    a{
      img{
        display: block;
        margin: 0 auto;
      }
    }
    .navigation-menu {
      height: 60%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      a {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding: 1rem 0;
      }
      .active {
        background-color: #fff;
        color: black;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  }

  .d-2 {
    // background-color: color(sec3);
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .welcome-msg{
      width: 80%;
      font-size: 24px;
      font-weight: 500;
    }
    .user-card {
      // background-color: lightgreen;
      width: 80%;
      flex: 0.4;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      display: flex;
      justify-content: space-evenly;
      .user-image {
        flex: 0.4;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 250px;
        }
      }
      .user-details {
        flex: 0.6;
        margin: auto;
        div {
          margin-bottom: 1rem;
          .heading {
            font-weight: 500;
          }
        }
      }
    }
    .numbers {
      flex: 0.3;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .number-card {
        flex: 0.4;
        height: 100%;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .big {
          font-size: 56px;
          font-weight: bold;
        }
        .small {
          font-size: 24px;
          color: grey;
        }
      }
    }
  }
}
