@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

section .d-1 {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  background-color: #003049;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .d-1 a img {
  display: block;
  margin: 0 auto;
}

section .d-1 .navigation-menu {
  height: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .d-1 .navigation-menu a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 1rem 0;
}

section .d-1 .navigation-menu .active {
  background-color: #fff;
  color: black;
}

section .d-2 {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .d-2 .user-card {
  width: 80%;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section .d-2 .user-card .user-image {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .d-2 .user-card .user-image img {
  width: 250px;
}

section .d-2 .user-card .user-details {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  margin: auto;
}

section .d-2 .user-card .user-details div {
  margin-bottom: 1rem;
}

section .d-2 .user-card .user-details div .heading {
  font-weight: 500;
}

section .d-2 .numbers {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .d-2 .numbers .number-card {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  height: 100%;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .d-2 .numbers .number-card .big {
  font-size: 56px;
  font-weight: bold;
}

section .d-2 .numbers .number-card .small {
  font-size: 24px;
  color: grey;
}
/*# sourceMappingURL=styles.css.map */