@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 150vh;
}

a {
  text-decoration: none;
  color: #000;
}

::-moz-selection {
  color: #fff;
  background-color: #001219;
}

::selection {
  color: #fff;
  background-color: #001219;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #f1efef;
}

nav .nav-1 {
  width: 70%;
  margin: 1rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-1 .logo {
  letter-spacing: 2px;
}

nav .nav-1 .set-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav .nav-1 .set-2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-1 .set-2 form input {
  height: 30px;
  width: 200px;
  outline: none;
  border: none;
  background-color: transparent;
}

nav .nav-1 .set-2 form input:focus {
  border-bottom: 1px solid #001219;
}

nav .nav-1 .set-2 form a {
  cursor: pointer;
}

nav .nav-1 .buttons {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .nav-1 .buttons li {
  padding: 0.5rem;
}

nav .nav-1 .buttons li a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  padding: 0.4rem 1rem;
  background-color: #001219;
  margin: 0 1rem;
}

.container {
  min-height: 50vh;
  background-color: #f1f1f1;
}

.user-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 1rem auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 20vh;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.user-container .user-pic {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-container .user-pic img {
  display: block;
  width: 200px;
  margin: auto;
}

.user-container .user-details {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-container .user-details .heading {
  font-weight: 500;
}

.user-container .user-details .buttons {
  margin-top: 1rem;
}

.user-container .user-details .buttons .btn {
  font-size: 16px;
  background-color: #001219;
  color: #fff;
  padding: 0.4rem 1.5rem;
}

/*******************
header {
  color: #fff;
  background: linear-gradient(to top, rgba(20, 20, 20, 0.6)),
    url('../img/005.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  .buttons {
    color: #fff;
    a {
      text-decoration: none;
      color: #fff;
      padding: 0.5rem 1rem;
      background-color: #001219;
      margin: 0 1rem;
    }
  }
}

************************/
.article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 0 auto;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.articles .heading h2 {
  margin-bottom: 1rem;
  display: inline-block;
  border-bottom: 2px solid #000;
}

.articles .article-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
  height: 150px;
}

.articles .article-card .article-main {
  padding: 0.5rem;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles .article-card .article-img {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  height: 150px;
  background-color: grey;
}

.articles .article-card .article-img img {
  height: 100%;
  width: auto;
}

.articles .article-card:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #00121952;
          box-shadow: 0px 0px 5px 1px #00121952;
}

.articles .more a {
  color: #fff;
  background-color: #001219;
  text-decoration: none;
  padding: 0.7rem 2rem;
}

.most-viewed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 1rem auto;
}

.most-viewed .heading h2 {
  margin-bottom: 1rem;
  display: inline-block;
  border-bottom: 2px solid #000;
}

.most-viewed .most-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
}

.most-viewed .most-cards .most-card {
  width: 250px;
  background-color: orange;
  height: 250px;
  margin: 0.5rem;
}

.most-viewed .more a {
  color: #fff;
  background-color: #001219;
  text-decoration: none;
  padding: 0.7rem 2rem;
}

.user-details {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-details .container {
  background-color: #fff;
  width: 70%;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.user-details .container .img-div {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.user-details .container .img-div img {
  width: 200px;
  display: block;
  margin: auto;
  border-radius: 2px;
}

.user-details .container .user-content {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

.user-details .container .user-content p {
  font-weight: bold;
}

.user-details .container .user-content p span {
  font-weight: normal;
}

footer {
  -webkit-clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
  min-height: 30vh;
  background-color: #001219;
}
/*# sourceMappingURL=styles.css.map */