@media screen and (max-width: 800px) {
  nav {
    overflow-x: hidden ;
    height: 100vh;
    width: 100%;
    ul {
      position: absolute;
      width: 100%;
      background-color: rgba(0, 0, 0, 1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 0;
      left: 100%;
      height: 100vh;
      transition: all 1s;
      li {
        margin-bottom: 1.5rem;
      }
    }
    .trans-effect{
        left:0;
    }
  }


  // .bars {
  //   position: absolute;
  //   z-index: 5;
  //   right: 2rem;
  //   top: 2rem;
  //   display: block;
  //   .l1,
  //   .l2,
  //   .l3 {
  //     width: 30px;
  //     height: 2.5px;
  //     margin-bottom: 5px;
  //     background-color: #fff;
  //   }
  // }

  
  .bars {
    position: absolute;
    z-index: 5;
    right: 2rem;
    top: 2rem;
    display: block;
    transition: all 0.5s;
    .l1,
    .l2,
    .l3 {
      width: 35px;
      height: 2px;
      margin-bottom:5px;
      background-color: #fff;
      transition: all 0.5s;
    }
  }

  .l1-trans{
    margin-top:13px;
    margin-bottom: 0;
    transform: rotateZ(45deg);
  }
  .l2-trans{
    opacity:0;
    transform:translateX(-20px);
    margin-bottom: 0;
  }
  .l3-trans{
    margin-top:-13px;
    margin-bottom: 0;
    transform: rotateZ(-45deg);
  }

  header {
    h1 {
      font-size: 48px;
      // text-shadow: 1px 1px 5px color(pr3);
      letter-spacing: 5px;
    }
    h3 {
      font-size: 12px;
      text-align: center;
      letter-spacing: 15px;
      span {
        color: color(pr3);
      }
      margin-bottom: 1.5rem;
    }
    .buttons {
      display: flex;
      justify-content: space-evenly;
      a {
        flex: 0.4;
        color: #fff;
        text-align: center;
        padding: 0.5rem 1rem;
        background-color: color(pr1);
      }
    }
  }

  .vision-section {
    margin-bottom: 2rem;
    .vision-content {
      display: flex;
    //   flex-direction: column;
    }
    .v1{
        flex-direction: column;
    }
    .v2{
        flex-direction: column-reverse;
    }
    div {
    //   display: flex;
      justify-content: center;
      align-items: center;
      width: 85%;
      margin: auto;
      h2 {
        font-size: 24px;
        letter-spacing: 3px;
      }
      div {
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 250px;
          object-fit: cover;
          margin-bottom: 2rem;
        }
      }
    }
  }

  .creators-section {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div {
      h2 {
        font-size: 32px;
        letter-spacing: 5px;
      }
    }
    .cards {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 70%;
      .card {
        margin: 0.3rem;
        width: 250px;
        height: 320px;
        background-color: color(pr2);
      }
    }
  }
}
